.top {
  width: 100%;
  height: 50px;
  position: sticky; /*Topbar should be on top, not moved*/
  top: 0;
  display: flex; /*to align items use flex*/
  align-items: center; /*centered top and bottom*/
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

/*TOP LEFT AND RIGHT SIDE - ICON, IMG AND SEARCH*/
.topLeft,.topRight {
  flex: 3; /*3 unit from right side*/
  display: flex;
  align-items: center;
  justify-content: center; /*left and side centered*/
}

/*TOP ICONS*/
.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

/*TOP CENTER ITEMS*/
.topCenter {
  flex: 6; /*6 units from right side*/
}

/*TOPLIST*/
.topList {
  display: flex;
  justify-content: center; /*centered item both left and right side*/
  margin: 0;
  padding: 0;
  list-style: none; /*removes dot behind text*/
}

/*TOPLIST ITEMS*/
.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

/*TOP IMAGE*/
.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/*TOP SEARCH ICON*/
.topSearchIcon{
    font-size: 30px;
    color: #666;
    cursor: pointer;
    margin-left: 25px;
}
